# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-android
.flutter-plugins-ios
.idea/
.vscode/
build/
*.iml
*.ipr
*.iws
.packages
.dart_tool/
.pub-cache/
ios/.symlinks/
ios/.generated/
android/.gradle/
android/local.properties
android/key.properties
android/keystores/
android/app/google-services.json # Penting: HATI-HATI jika ini adalah proyek publik, jangan commit kredensial.
ios/Runner/GoogleService-Info.plist # Penting: HATI-HATI jika ini adalah proyek publik.
# macOS specific
*.xcuserdatad/
xcuserdata/
# Xcode
DerivedData/
Pods/
.fvm/
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
